<!-- $title Index page -->
<!-- @include _header -->

<!-- Add your site or application content here -->
.container
  .side-menu-w

    <!-- @include _table_of_contents -->

  .container-i
    %h1#docs_intro Theme Venera Documentation
    %p
      Thank you for purchasing my theme. If you have any questions that are beyond the scope of this help file, please feel free to email via my user page contact form here. Thanks so much!
    %h2#docs_file_structure File structure
    %p
      Collaboratively administrate empowered markets via plug-and-play networks. Dynamically procrastinate B2C users after installed base benefits. Dramatically visualize customer directed convergence without revolutionary ROI.
      Efficiently unleash cross-media information without cross-media value. Quickly maximize timely deliverables for real-time schemas. Dramatically maintain clicks-and-mortar solutions without functional solutions.

    <!-- @include _file_structure -->

    %h2#docs_theme_installation Theme Installation
    %p
      In this section I will walk you through the process of Theme Venera installation. In order to install the theme - you will need admin access to your wordpress site. First of all you will need to install plugins that are bundled with Theme Venera,
      and then you can install the theme itself. After theme and plugins are installed and activated you will have to import default theme settings from included .xml files. You may also want to install a demo data so you can edit it and build your pages based on demo data.
      It is very easy to install a theme and should not take you more then 10 minutes.
    %h2#docs_theme_install Installing your new theme
    %h3
      %i.icon-youtube-play
      Video Tutorial:
    <iframe src="http://player.vimeo.com/video/71118538?title=0&amp;portrait=0&amp;color=ffffff" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    %h3
      %i.icon-list-ol
      Step by step guide:
    %ol
      %li Unzip the archive file which you just downloaded from ThemeForest.
      %li Login to Wordpress admin for your website.
      %li Go to <strong>"Appearance"</strong> link in the side menu.
      %li
        Then click the <strong>"Install Themes"</strong> tab.
        %img.screenshot{:src => "img/docs_theme_install_1.jpg", :alt => ""}
      %li Click on the <strong>"Upload"</strong> link
      %li
        Now click on the button which says <strong>"Choose File"</strong>
        %img.screenshot{:src => "img/docs_theme_install_2.jpg", :alt => ""}
      %li
        Locate the file called venera.zip and click <strong>"Install Now"</strong> button.
        .note Note: when you unzipped the file you downloaded from ThemeForest - you should end up with a folder called <strong>plugins</strong> and an archive file called <strong>venera.zip</strong> - this is the file you want to select here
        %img.screenshot{:src => "img/docs_theme_install_3.jpg", :alt => ""}
      %li
        Once the installation is complete - click the <strong>"Activate"</strong> link.
        %img.screenshot{:src => "img/docs_theme_install_4.jpg", :alt => ""}
      %li
        Well done! You have successfully activated your new theme. You should see something like this on your screen:
        %img.screenshot{:src => "img/docs_theme_install_5.jpg", :alt => ""}
    %h2#docs_plugin_install Installing bundled plugins
    %h3
      %i.icon-youtube-play
      Video Tutorial:
    <iframe src="http://player.vimeo.com/video/71127145?title=0&amp;portrait=0&amp;color=ffffff" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    %h3
      %i.icon-list-ol
      Step by step guide:
    %ol
      %li
        Go to <strong>"Plugins"</strong> link in side menu, and click <strong>"Add New"</strong> button on top of that page.
        %img.screenshot{:src => "img/docs_plugin_install_1.jpg", :alt => ""}
      %li
        Now click on the <strong>"Upload"</strong> link at the top of the page.
        %img.screenshot{:src => "img/docs_plugin_install_2.jpg", :alt => ""}
      %li
        Now you should click on the <strong>"Choose File"</strong> button and select on of the plugins from <strong>"plugins"</strong> folder.
        %img.screenshot{:src => "img/docs_plugin_install_3.jpg", :alt => ""}
        %img.screenshot{:src => "img/docs_plugin_install_5.jpg", :alt => ""}
      %li Once you selected a file - click <strong>"Install Now"</strong> button.
      %li
        When the plugin installation is complete - click the <strong>"Activate Plugin"</strong> link.
        %img.screenshot{:src => "img/docs_plugin_install_4.jpg", :alt => ""}
      %li
        Repeat these steps with every plugin archive in the <strong>"plugins"</strong> directory. Make sure you install plugins called:
        %ul
          %li gravityforms.zip
          %li gravityformsmailchimp.zip
          %li revslider.zip
          %li woosidebars.zip
          %li wordpress-importer.zip
      %li
        Good job! Your plugins should be installed now. You should see something like this on the screen:
        %img.screenshot{:src => "img/docs_plugin_install_6.jpg", :alt => ""}/
    %h2#docs_demo_data Install demo data (optional step)
    %p
      This step is <strong>optional</strong> as this will install a demo data which you can later modify and play around with it.
      .note Note: In order to install a demo data, you have to complete a previous step where you installed a plugin called <strong>"wordpress-importer.zip"</strong>. Make sure you have installed this plugin because it is responsible of importing demo data from .xml file.
    %h3
      %i.icon-list-ol
      Step by step guide:
    %ol
      %li
        Click the <strong>"Tools"</strong> link in the side menu.
        %img.screenshot{:src => "img/docs_demo_data_1.jpg", :alt => ""}
      %li
        On the following page you will see a sub menu item under the <strong>"Tools"</strong> link you just clicked called <strong>"Import"</strong> - go ahead and click on it.
      %li
        Now you should see a table with different system names to import from - you should click on the link called <strong>"WordPress"</strong>.
        .note Note: If it asks you to install a plugin when you clicked on that link - that means you did not complete a previous step, so you can go ahead and install it from a lightbox interface which is presented to you.
        %img.screenshot{:src => "img/docs_demo_data_2.jpg", :alt => ""}
      %li
        Click the <strong>"Choose File"</strong> button and select the file from your archive contents called <strong>"demodata.xml"</strong>.
        %img.screenshot{:src => "img/docs_demo_data_3.jpg", :alt => ""}
        %img.screenshot{:src => "img/docs_demo_data_4.jpg", :alt => ""}
      %li
        Once the file is selected click <strong>"Upload file and import"</strong> button to start importing.
        .note Note: You will first be asked to map the authors in this export file to users on the blog. For each author, you may choose to map to an existing user on the blog or to create a new user.
        .note Note: In our demo content none of the images will be available because of copyright restrictions. You have to upload your images manually.
        %img.screenshot{:src => "img/docs_demo_data_5.jpg", :alt => ""}
      %li Now you have to import demo forms
      %li Go to <strong>"Forms"</strong> from side menu and click on a sub menu item called <strong>"Import/Export"</strong>.
      %li Click on <strong>"Choose File"</strong> and select a demo archive file called <strong>"demoforms.xml"</strong>.
      %li
        After you have selected the file - click blue <strong>"Import"</strong> button.
        %img.screenshot{:src => "img/docs_demo_data_6.jpg", :alt => ""}
      %li Good job! You have completed installation of demo data!
    %h2#docs_page_builder Page Builder
    %p This theme comes with a powerful page builder plugin, which will help you to build your pages by drag & dropping elements on your layout grid. You won't need any programming knowledge to build pages you see in examples.
    %h3#docs_page_builder_howto
      %i.icon-question-sign
      How to use Page Builder
    %p
      Page builder will help you manage your content. Nowadays many websites have complex grid layouts with columns, tabs, sliders and etc. In the past you should be html guru or shortcodes professional to create that type of layouts.
      But not anymore! Here is a short video for you to get you up running in no time. See yourself how easy it is. Complex layouts - made easy!
    <iframe src="http://player.vimeo.com/video/71118538?title=0&amp;portrait=0&amp;color=ffffff" width="500" height="281" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    %p
      In order to activate Page Builder when you are creating new page or post you have to click on the <strong>"Visual Composer"</strong> button.
    .note Note: You can always go back to a classic WordPress editor by clicking <strong>"Classic Editor"</strong> button.
    %img.screenshot{:src => "img/docs_page_builder_1.jpg", :alt => ""}
    %h3 Concept
    %p
      In the Page Builder editor mode you'll have <strong>"Add element"</strong> button, which you should click or drag to the working canvas, to add content block or row to your page.
    %img.screenshot{:src => "img/docs_page_builder_2.jpg", :alt => ""}
    %p
      Clicking the <strong>"Add element"</strong> button will show the content element selection menu. Content blocks are divided into categories (Show all, Content, Social, Structure, WordPress Widgets).
    %img.screenshot{:src => "img/docs_page_builder_3.jpg", :alt => ""}
    %h3 Rows
    %p
      Rows are used to divide your page into the logic blocks with columns, columns later will hold your content blocks. Rows can be divided into the layouts (eg. 1/2 + 1/2, 1/3 + 1/3 + 1/3, and so on). Your page can have unlimited number of rows. To change row's position, click and drag row's drag handler (top left row's corner) and drag row around (vertical axis).
    %h3 Columns
    %p
      Columns are part of the row and they hold your content elements inside them. Columns can be reordered. Click and drag column around (horizontal axis). That way you can group elements in logical groups and then drag them around with your mouse (to re-position).
    %h3 Content Elements
    %p
      This is a list of available content elements that can be placed on the working canvas or inside of the columns. Think of them as bricks. With those bricks you are building your layout. Most of the content elements have options, to set them click pencil icon. To save changes click save button.
    %ul
      %li Row
      %li Text block
      %li Separator
      %li Separator with text
      %li Message Box
      %li Facebook Like
      %li Tweetmeme button
      %li Google+ button
      %li Pinterest button
      %li FAQ
      %li Single image
      %li Image gallery
      %li Tabs
      %li Tour section
      %li Accordion
      %li Teaser (posts) grid
      %li Posts slider
      %li Widgetised sidebar
      %li Button
      %li Call to action button
      %li Video player
      %li Google maps
      %li Flickr widget
      %li Progress bar
      %li Revolution slider
      %li Gravity form
      %li Posts grid
      %li Framed item
      %li Clients
      %li Team members
      %li Pricing table
      %li Recent posts
      %li Iconed feature
      %li Testimonials
      %li Content slider
      %li Portfolio block
    %h2#docs_gravity_forms Gravity Forms
    %h3#docs_gravity_forms_howto
      %i.icon-question-sign
      How to use Gravity Forms



    %h2#docs_theme_settings
      %i.icon-cog
      Theme Settings
    %p Theme Venera comes with an extensive configuration options. You can completely change a look and feel of the theme just by using this options panel. In order to change default theme settings you have to go to <strong>"Options"</strong> page from the side menu. You will see multiple sub pages for options page. I will explain each of them one by one.
    %h2#docs_settings_appearance Appearance
    %h3#docs_settings_color_scheme Color scheme
    %p These settings define a color scheme you want to use for the website, you can also set your custom colors by clicking the "Allow to override color scheme settings" checkmark and defining your custom colors in other sections of "Options" panel.
    %h3#docs_settings_general General
    %p On this tab you can define general settings for your theme.
    %ul
      %li
        %strong Body Background Color
        \- Define a custom background color for your theme
      %li
        %strong Text Color
        \- Color for regular text blocks
      %li
        %strong Headings Text Color
        \- Color for all the text headings
    %h3#docs_settings_leader_board Leader board
    %p Here you control the look and feel of the leader board section which can hold a slider or just a regular content elements.
    %img.screenshot{:src => "img/docs_settings_1.jpg", :alt => ""}
    %ul
      %li
        %strong Background Color
        \- Define a custom background color for the leader board
      %li
        %strong Background Image
        \- Set an image to be used for the slider background
      %li
        %strong Primary Text Color
        \- Color for text headings with level <strong>Heading 1</strong>
      %li
        %strong Secondary Text Color
        \- Color for all headings and text which are <strong>not</strong> in <strong>Heading 1</strong> level.
      %li
        %strong Highlighted Text Color
        \- Color for <strong>bold</strong> text inside of a leader board.
    %h3#docs_settings_highlighted_block Highlighted block
    %p Here you can set colors for the highlighted block under the leader board which usually holds a list of features with icons.
    %img.screenshot{:src => "img/docs_settings_2.jpg", :alt => ""}

    %ul
      %li
        %strong Make it flat
        \- Checking this field will remove all the shadows, gradients and gloss from the highlighted block making it look flat.
      %li
        %strong Background Color
        \- Define a custom background color for the highlighted block.
      %li
        %strong Icons Color
        \- Set a color for icons.
      %li
        %strong Headings Colors
        \- Color for text headings under the icons.
      %li
        %strong Text Color
        \- Color for plain text under the headers and icons.

    %h3#docs_settings_cta_block Call to action block
    %p This settings control the call to action block, usually separated from a regular content with a different, highlighted background which will allow it to pop and standout.
    %img.screenshot{:src => "img/docs_settings_3.jpg", :alt => ""}
    %ul
      %li
        %strong Background Color
        \- Define a custom background color for the call to action block.
      %li
        %strong Background Image
        \- Set an image to be used for the call to action background.
      %li
        %strong Text Color
        \- Color for all text elements inside the call to action section.
    %h2#docs_settings_ui_scheme UI Elements
    %p On this page you are defining colors for different elements used on the theme: items, testimonials, accordion, tabs, pricing table.
    %h3#docs_settings_items Items
    %p These settings control the look of the item blocks on your theme. This includes the look of post teasers, portfolio items, clients and team members.
    %img.screenshot{:src => "img/docs_settings_4.jpg", :alt => ""}
    %img.screenshot.bigger{:src => "img/docs_settings_item_explain.png", :alt => ""}
    %ul
      %li
        %strong Make it flat
        \- Checking this field will remove all the shadows, gradients and gloss from posts and portfolio items making them look flat.
      %li
        %strong Background Color
        \- Define a custom background color for items.
      %li
        %strong Headings Colors
        \- Color for text headings inside of the item.
      %li
        %strong Text Color
        \- Color for text inside of items.
      %li
        %strong Border Radius (e.g. 4px)
        \- Set a border radius of item blocks.
      %li
        %strong Padding (e.g. 10px)
        \- Padding for item blocks.
      %li
        %strong Text Links Color
        \- Color for text links inside of the item block.
      %li
        %strong Tag Background Color
        \- Background color for tags.
      %li
        %strong Tag Text Color
        \- Text color for tags.
    %h3#docs_settings_testimonials Testimonials
    %p These settings control the look and feel of the testimonials elements on your pages. You have two variants of testimonials layout:
    %h3 Opened
    %p Always opened so you don't have to click on the author avatar to activate it.
    %img.screenshot{:src => "img/docs_settings_testimonials_1.jpg", :alt => ""}
    %h3 Toggle on click
    %p This style is a compact version of the previous one, in order to see a testimonial bubble you will need to click on the avatar.
    %img.screenshot{:src => "img/docs_settings_testimonials_2.jpg", :alt => ""}
    %h3 Testimonials Settings
    %img.screenshot.bigger{:src => "img/docs_settings_testimonials_explain.png", :alt => ""}
    %ul
      %li
        %strong Make it flat
        \- Checking this field will remove all the shadows, gradients and gloss from testimonials items.
      %li
        %strong Background Color
        \- Define a custom background color for testimonial bubble.
      %li
        %strong Headings Colors
        \- Color for text headings for testimonials.
      %li
        %strong Text Color
        \- Color for text inside of testimonials.
      %li
        %strong Border Radius (e.g. 4px)
        \- Border radius of the testimonial bubble.
      %li
        %strong Box Padding (e.g. 10px)
        \- Padding for the testimonial bubble.
      %li
        %strong Highlight Color
        \- Color for the highlighted border that separates title from paragraph.
      %li
        %strong Author Text Color
        \- Color for author and company information.
      %li
        %strong Author Border Color
        \- Border color for the author avatar box.
    %h3#docs_settings_accordion Accordion
    %img.screenshot{:src => "img/docs_settings_5.jpg", :alt => ""}
    %h3#docs_settings_tabs Tabs
    %img.screenshot{:src => "img/docs_settings_6.jpg", :alt => ""}
    %h3#docs_settings_browser_frame Browser frame
    %p
      This is the most awesome feature - it is a browser frame which is not an image but an HTML frame - so it is fully customizable - you can change colors, shadows, buttons and even the URL text.
      You can insert a single image, a set of images to create a slider or a video from youtube or vimeo.
    %img.screenshot{:src => "img/docs_settings_7.jpg", :alt => ""}
    %h3#docs_settings_pricing_table Pricing table
    %img.screenshot{:src => "img/docs_settings_8.jpg", :alt => ""}
    %h3#docs_settings_buttons Buttons
    %p
      This theme comes with a set of gorgeous buttons. You have the following styles: default button, primary button, informational button, danger button, warning button and inversed button. Using these settings you can change
      a look and feel of every button type from that list. It's pretty straightforward - each style has two parameters: background color and text color. You can also select a look of those buttons by selecting a style parameter from a dropdown (default, flat and absolutely flat).
    %img.screenshot.bigger{:src => "img/docs_settings_9.jpg", :alt => ""}
    %h2#docs_settings_blog_posts Blog posts
    %p These settings control the look of the single post item. This is basically the main settings section for your blog posts.
    %h3#docs_settings_post Posts
    %img.screenshot.bigger{:src => "img/docs_settings_10.jpg", :alt => ""}
    %ul
      %li
        %strong Make it Flat
        \- This will remove all shadows and gloss from post content.
      %li
        %strong Content Border Radius
        \- Border radius for the post content.
      %li
        %strong Content Background
        \- Background for post content.
      %li
        %strong Content Padding
        \- Padding for post content.
      %li
        %strong Headings Color
        \- Color for post headings.
      %li
        %strong Text Color
        \- Text color for post content.
      %li
        %strong Links Color
        \- Color of the links inside of the content.
    %h3#docs_settings_comments Comments
    %img.screenshot.bigger{:src => "img/docs_settings_11.jpg", :alt => ""}
    %ul
      %li
        %strong Make it flat
        \- Checking this field will remove all the shadows, gradients and gloss from comment form.
      %li
        %strong Background color
        \- Define a custom background color for comment form.
      %li
        %strong Box Border Radius
        \- Border radius for comment form.
      %li
        %strong Box Padding
        \- Padding for comment form box.
      %li
        %strong Headings Color
        \- Comment form headings color.
      %li
        %strong Text Color
        \- Text color for comment form.
      %li
        %strong Links Color
        \- Color of the links inside of the comments form.
    / %h2#docs_settings_header Header
    / %h2#docs_settings_footer Footer
    / %h2#docs_custom_post_types Custom Post Types
    / %h3#docs_cpt_pricing Pricing Packages
    / %h3#docs_cpt_testimonials Testimonials
    / %h3#docs_cpt_portfoio Portfolio
    / %h3#docs_cpt_team_members Team Members
    / %h3#docs_cpt_slides Slides
<!-- @include _footer -->