.archive-w
  .archive theme_venera.zip
%ul.list-of-files
  %li.folder-opened
    plugins
    %ul
      %li.folder-closed
        gravityforms
        %span Premium plugin to work with forms <a href="http://www.gravityforms.com/" target="_blank">( visit website )</a>
      %li.folder-closed
        gravityformsmailchimp
        %span Add-on for Gravity Forms plugin for Mailchimp integration <a href="http://www.gravityforms.com/add-ons/mailchimp/" target="_blank">( visit website )</a>
      %li.folder-closed
        revslider
        %span Premium slider plugin <a href="http://codecanyon.net/item/slider-revolution-responsive-wordpress-plugin/2751380">( visit website )</a>
      %li.folder-closed
        woosidebars
        %span Plugin to define custom sidebars <a href="http://www.woothemes.com/woosidebars/">( visit website )</a>
      %li.folder-closed
        wordpress-importer
        %span Wordpress native plugin to import settings <a href="http://wordpress.org/plugins/wordpress-importer/">( visit website )</a>
  %li.archive
    %strong venera.zip
    %span The main zip archive file which is going to be used for theme installation.
    %ul
      %li.folder-closed
        fonts
        %span Contains icon fonts included with Venera <a href="http://fortawesome.github.io/Font-Awesome/" target="_blank">( visit website )</a>
      %li.folder-closed
        images
        %span Images used for custom post types in admin and for demo data
      %li.folder-opened
        inc
        %ul
          %li.folder-closed
            js_composer
            %span Premium page builder plugin <a href="http://codecanyon.net/item/visual-composer-for-wordpress/242431" target="_blank">( visit website )</a>
          %li.folder-closed
            js_composer_extend
            %span Extending a page builder
          %li.folder-closed
            lessphp
            %span PHP Processor for LESS css engine <a href="http://leafo.net/lessphp/" target="_blank">( visit website )</a>
          %li.folder-closed
            shortcodes_inc
            %span Shortcodes for framed items
          %li.file
            custom_post_types.php
            %span Defines custom post types ( Testimonials, Pricing, Portfolio, Team Members, Slides )
          %li.file
            custom_sidebars.php
            %span Defines custom sidebars
          %li.file
            custom_widgets.php
            %span Defines custom widgets
          %li.file
            db_queries.php
            %span Custom functions to access custom post types
          %li.file
            helper.php
            %span Helper functions to used in various parts of theme
          %li.file
            less_variables.php
            %span Define variables for LESS css engine <a href="http://lesscss.org/" target="_blank">( visit website )</a>
          %li.file
            shortcodes.php
            %span Custom shortcodes for theme venera
          %li.file
            twitter_bootstrap_nav_walker.php
            %span Wordpress walker that generates navigation with bootstrap layout
          %li.file
            wp-less.php
            %span Main file to parse LESS css
      %li.folder-closed
        js
        %span Javascript files for theme
      %li.folder-closed
        languages
        %span Should contain translation files for this theme
      %li.folder-opened
        less
        %ul
          %li.folder-closed
            bootstrap
            %span Bootstrap framework styles <a href="http://twitter.github.io/bootstrap/" target="_blank">( visit website )</a>
          %li.folder-closed
            font-awesome
            %span Iconed font Font Awesome styles <a href="http://fortawesome.github.io/Font-Awesome/" target="_blank">( visit website )</a>
          %li.folder-closed
            inc
            %span Contains all less css files included into style.less
          %li.folder-closed
            js_composer_custom
            %span Custom styles for js composer page builder
          %li.file
            custom_flexslider.less
            %span Custom styles for flexslider
          %li.file
            custom_mixins.less
            %span Some custom mixins used throughout the theme
          %li.file
            style.less
            %span Main stylesheet file for this theme which gets compiled into style.css
      %li.folder-closed
        partials
        %span Partials for blog and other pages
      %li.file
        404.php
        %span Page for 404 (not found) error
      %li.file
        archive.php
        %span Post archive template
      %li.file
        blog-full-width.php
        %span Full width blog index
      %li.file
        blog-horizontal.php
        %span Blog index with items which hold the full row
      %li.file
        blog-vertical.php
        %span Blog index with two or three items per row
      %li.file
        comments.php
        %span Comments template
      %li.file
        content-page.php
        %span Content for pages post formats
      %li.file
        content-search.php
        %span Content for search results page
      %li.file
        content-single-venera_portfolio.php
        %span Single portfolio item template
      %li.file
        content-single.php
        %span Content for single blog post
      %li.file
        content.php
        %span Content for blog posts
      %li.file
        footer.php
        %span The template for displaying footer
      %li.file
        functions.php
        %span Main file for theme, defines all the functions related to theme venera
      %li.file
        header.php
        %span The header of our theme
      %li.file
        image.php
        %span The template for displaying image attachments
      %li.file
        index.php
        %span The most generic template file in a theme
      %li.file
        no-results.php
        %span The template part for displaying a message that posts cannot be found.
      %li.file
        page-home.php
        %span Home page template
      %li.file
        page.php
        %span The template for displaying all pages
      %li.file
        search.php
        %span The template for displaying search results pages.
      %li.file
        searchform.php
        %span The template for displaying search forms.
      %li.file
        sidebar.php
        %span The sidebar containing the main widget areas.
      %li.file
        single-venera_portfolio.php
        %span The template for displaying portfolio posts.
      %li.file
        single.php
        %span The template for displaying all single posts.
      %li.file
        style.css
        %span Compiled stylesheet file from style.less