%h2.table-of-contents-header
  %i.icon-reorder
  Table of contents
%ul.table-of-contents
  %li
    %a{:href => "#docs_intro"} Introduction
  %li
    %a{:href => "#docs_file_structure"} File structure
  %li
    %a{:href => "#docs_theme_installation"} Theme Installation
    %ul
      %li
        %a{:href => "#docs_theme_install"} Installing your new theme
      %li
        %a{:href => "#docs_plugin_install"} Installing bundled plugins
      %li
        %a{:href => "#docs_demo_data"} Install demo data
  %li
    %a{:href => "#docs_page_builder"} Page Builder
    %ul
      %li
        %a{:href => "#docs_page_builder_howto"} How to use Page Builder
  %li
    %a{:href => "#docs_gravity_forms"} Gravity Forms
    %ul
      %li
        %a{:href => "#docs_gravity_forms_howto"} How to use Gravity Forms
  / %li
  /   %a{:href => "#"} Available elements
  /   %ul
  /     %li
  /       %a{:href => "#"} Row
  /     %li
  /       %a{:href => "#"} Text block
  /     %li
  /       %a{:href => "#"} Separator
  /     %li
  /       %a{:href => "#"} Separator with text
  /     %li
  /       %a{:href => "#"} Message Box
  /     %li
  /       %a{:href => "#"} Facebook Like
  /     %li
  /       %a{:href => "#"} Tweetmeme button
  /     %li
  /       %a{:href => "#"} Google+ button
  /     %li
  /       %a{:href => "#"} Pinterest button
  /     %li
  /       %a{:href => "#"} FAQ
  /     %li
  /       %a{:href => "#"} Single image
  /     %li
  /       %a{:href => "#"} Image gallery
  /     %li
  /       %a{:href => "#"} Tabs
  /     %li
  /       %a{:href => "#"} Tour section
  /     %li
  /       %a{:href => "#"} Accordion
  /     %li
  /       %a{:href => "#"} Teaser (posts) grid
  /     %li
  /       %a{:href => "#"} Posts slider
  /     %li
  /       %a{:href => "#"} Widgetised sidebar
  /     %li
  /       %a{:href => "#"} Button
  /     %li
  /       %a{:href => "#"} Call to action button
  /     %li
  /       %a{:href => "#"} Video player
  /     %li
  /       %a{:href => "#"} Google maps
  /     %li
  /       %a{:href => "#"} Flickr widget
  /     %li
  /       %a{:href => "#"} Progress bar
  /     %li
  /       %a{:href => "#"} Revolution slider
  /     %li
  /       %a{:href => "#"} Gravity form
  /     %li
  /       %a{:href => "#"} Posts grid
  /     %li
  /       %a{:href => "#"} Framed item
  /     %li
  /       %a{:href => "#"} Clients
  /     %li
  /       %a{:href => "#"} Team members
  /     %li
  /       %a{:href => "#"} Pricing table
  /     %li
  /       %a{:href => "#"} Recent posts
  /     %li
  /       %a{:href => "#"} Iconed feature
  /     %li
  /       %a{:href => "#"} Testimonials
  /     %li
  /       %a{:href => "#"} Content slider
  /     %li
  /       %a{:href => "#"} Portfolio block
  %li
    %a{:href => "#docs_theme_settings"} Theme settings
    %ul
      %li
        %a{:href => "#docs_settings_appearance"} Appearance
        %ul
          %li
            %a{:href => "#docs_settings_color_scheme"} Color scheme
          %li
            %a{:href => "#docs_settings_general"} General
          %li
            %a{:href => "#docs_settings_leader_board"} Leader board
          %li
            %a{:href => "#docs_settings_highlighted_block"} Highlighted block
          %li
            %a{:href => "#docs_settings_cta_block"} Call to action block
      %li
        %a{:href => "#docs_settings_ui_scheme"} UI Elements
        %ul
          %li
            %a{:href => "#docs_settings_items"} Items
          %li
            %a{:href => "#docs_settings_testimonials"} Testimonials
          %li
            %a{:href => "#docs_settings_accordion"} Accordion
          %li
            %a{:href => "#docs_settings_tabs"} Tabs
          %li
            %a{:href => "#docs_settings_pricing_table"} Pricing table
          %li
            %a{:href => "#docs_settings_buttons"} Buttons
      %li
        %a{:href => "#docs_settings_browser_frame"} Browser frame
      %li
        %a{:href => "#docs_settings_blog_posts"} Blog Posts
        %ul
          %li
            %a{:href => "#docs_settings_post"} Post
          %li
            %a{:href => "#docs_settings_comments"} Comments
      / %li
      /   %a{:href => "#docs_settings_header"} Header
      /   %ul
      /     %li
      /       %a{:href => "#docs_settings_top_bar"} Tob bar settings
      /     %li
      /       %a{:href => "#docs_settings_page_header"} Page header settings
      / %li
      /   %a{:href => "#docs_settings_footer"} Footer
  / %li
  /   %a{:href => "#docs_custom_post_types"} Custom post types
  /   %ul
  /     %li
  /       %a{:href => "#docs_cpt_pricing"} Pricing packages
  /     %li
  /       %a{:href => "#docs_cpt_testimonials"} Testimonials
  /     %li
  /       %a{:href => "#docs_cpt_portfoio"} Portfolio
  /     %li
  /       %a{:href => "#docs_cpt_team_members"} Team Members
  /     %li
  /       %a{:href => "#docs_cpt_slides"} Slides